<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="com.iboluo.boluovl" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NETWORK_PROVIDER"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <application android:allowBackup="false" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.iboluo.boluovl.AppContext" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <provider android:authorities="com.iboluo.boluovl.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.iboluo.boluovl.activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.MainActivity" android:screenOrientation="portrait"/>
        <service android:name="com.iboluo.boluovl.service.DownloadAdImgService"/>
        <service android:name="com.iboluo.boluovl.service.UploadService"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.AppCenterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iboluo.boluovl.activity.HomePageActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.EditProfileActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.MyQRCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WriteExchangeCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WriteInviteCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.ModifyPwdActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.FansActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.FollowActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SystemNoticeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.BuyMemberActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.RechargeResultActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.RechargeRecordActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.HelpCenterActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.CustomerServiceActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WorkManageActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.PromoteEarnActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.MyIncomeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WithdrawActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WithdrawAccountActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.WithdrawRecordActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.IncomeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoMakerHomePageActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.BecomeVideoMakerActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoMakerApplySubmitResultActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.PlainTextActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.PromoteMethodActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.InviteRecordActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.CoinRechargeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.CoinDetailActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VerifyPhoneNumberActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SelectCountryCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.RegisterOrLoginActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SwitchAccountActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.RetrievePwdVerifyActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.RetrievePwdActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.PostVideoActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SelectVideoCoverActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.UploadRuleAnswerActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.UploadManageActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.CreateCourseActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoCreatorActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.LatestUploadActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.DiscoverVideoActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.CoinVideoActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoHotRankActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoDailyMoreActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoTagMoreActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoCollectMoreActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iboluo.boluovl.activity.TagVideoActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.VideoCollectActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.iboluo.boluovl.activity.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iboluo.boluovl.activity.ShortVideoPlayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.iboluo.boluovl.activity.VideoSimplePlayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.iboluo.boluovl.activity.LiveCenterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.iboluo.boluovl.activity.LongVideoPlayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:authorities="com.iboluo.boluovl.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.tomatolive.library.utils.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:name="com.tomatolive.library.service.KickDialogService"/>
        <service android:name="com.tomatolive.library.service.TokenDialogService"/>
        <activity android:name="com.tomatolive.library.ui.view.widget.matisse.ui.MatisseActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.view.widget.matisse.internal.ui.AlbumPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.view.widget.matisse.internal.ui.SelectedPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.tomatolive.library.ui.activity.live.TomatoLiveActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden" android:name="com.tomatolive.library.ui.activity.live.PrepareLiveActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:label="@string/fq_anchor_identy" android:name="com.tomatolive.library.ui.activity.home.AnchorAuthActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:label="@string/fq_anchor_identy" android:name="com.tomatolive.library.ui.activity.home.AnchorAuthResultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live" android:name="com.tomatolive.library.ui.activity.mylive.MyLiveActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_my_income" android:name="com.tomatolive.library.ui.activity.mylive.MyIncomeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.IncomeRecordActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_dedicate" android:name="com.tomatolive.library.ui.activity.mylive.DedicateTopActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_house_setting" android:name="com.tomatolive.library.ui.activity.mylive.HouseSettingActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_banned_setting" android:name="com.tomatolive.library.ui.activity.mylive.BannedSettingActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_watch_record" android:name="com.tomatolive.library.ui.activity.mylive.WatchRecordActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_home_top" android:name="com.tomatolive.library.ui.activity.home.RankingActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_pre_notice" android:name="com.tomatolive.library.ui.activity.mylive.LivePreNoticeActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_user_grade" android:name="com.tomatolive.library.ui.activity.mylive.UserGradeActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_anchor_grade" android:name="com.tomatolive.library.ui.activity.mylive.AnchorGradeActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_car_mall" android:name="com.tomatolive.library.ui.activity.mylive.CarMallActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_my_garage" android:name="com.tomatolive.library.ui.activity.mylive.MyCarActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_live_car_mall_detail" android:name="com.tomatolive.library.ui.activity.mylive.CarMallDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.IncomeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.live.ReportLiveActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobilityPrivilegeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenOrderActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fq_my_account" android:name="com.tomatolive.library.ui.activity.mylive.MyAccountActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobleHiddenInRankListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobleRecommendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.noble.NobilityRecommendHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.MyTicketActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.AwardHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.AwardDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.SubmitAppealActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.AppealHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.AppealDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.RankingNewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.TargetFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.TransparentDialogActivity" android:screenOrientation="portrait" android:theme="@style/MyTranslucentTheme"/>
        <activity android:name="com.tomatolive.library.ui.activity.live.AnchorImpressionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.WearCenterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.UserIncomeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.MyClanActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.mylive.BusinessIncomeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tomatolive.library.ui.activity.home.FastAuthLoginActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="com.iboluo.boluovl.SensorsDataContentProvider" android:enabled="true" android:exported="false" android:name="com.sensorsdata.analytics.android.sdk.data.SensorsDataContentProvider"/>
        <meta-data android:name="com.sensorsdata.analytics.android.MainProcessName" android:value="com.iboluo.boluovl"/>
        <activity android:exported="false" android:label="" android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity" android:theme="@style/EasyPermissions.Transparent"/>
        <provider android:authorities="com.iboluo.boluovl.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.luck.picture.lib.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.luck.picture.lib.PictureSelectorActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.luck.picture.lib.PicturePreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureVideoPlayActivity" android:screenOrientation="sensor"/>
        <activity android:name="com.luck.picture.lib.PictureExternalPreviewActivity"/>
        <activity android:name="com.yalantis.ucrop.PictureMultiCuttingActivity"/>
        <activity android:name="com.luck.picture.lib.PicturePlayAudioActivity"/>
        <activity android:name="com.lxj.xpermission.XPermission$PermissionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <provider android:authorities="com.iboluo.boluovl.FlurryContentProvider" android:exported="false" android:name="com.flurry.android.agent.FlurryContentProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:multiprocess="true" android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.iboluo.boluovl.utilcode.provider" android:exported="false" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.blankj.utilcode.util.Utils$FileProvider4UtilCode">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service android:name="com.blankj.utilcode.util.BusUtils$ServerService">
            <intent-filter>
                <action android:name="com.iboluo.boluovl.messenger"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.bumptech.glide.integration.webp.WebpGlideModule" android:value="GlideModule"/>
        <provider android:authorities="com.iboluo.boluovl.basepopup-trojan" android:exported="false" android:multiprocess="false" android:name="razerdp.basepopup.BasePopupRuntimeTrojanProvider"/>
    </application>
</manifest>