[submodule "jadx/jadx"]
	path = jadx/jadx
	url = ../../skylot/jadx.git
[submodule "projects/wxsq_killer_project"]
	path = projects/wxsq_killer_project
	url = https://github.com/exyoyou/wxsq_killer_project.git
